{% extends "mobile/base.html" %}

{% block nav %}
    <li {% if week_url == "current" and not today %}class="active"{% endif %}><a href="{% url django_schedule.views.schedule_common faculty year group 'current' %}">Текущая неделя</a></li>
    <li {% if week_url == "lower" and not today %}class="active"{% endif %}><a href="{% url django_schedule.views.schedule_common faculty year group 'lower' %}">Нижняя неделя</a></li>
    <li {% if week_url == "upper" and not today %}class="active"{% endif %}><a href="{% url django_schedule.views.schedule_common faculty year group 'upper' %}">Верхняя неделя</a></li>
    <li {% if week_url == "both" and not today %}class="active"{% endif %}><a href="{% url django_schedule.views.schedule_common faculty year group 'both' %}">Верхняя и нижняя неделя</a></li>
    <li {% if today %}class="active"{% endif %}><a href="{% url django_schedule.views.today faculty year group %}">На сегодня</a></li>
{% endblock %}

{% block content %}
    <h4>Расписание для {{ faculty }}, {{ year }} курс, группа {{ group }}.</h4>

    <table>
        {% if days %}
            {% for day in days %}

                {% if day %}

                    <tr>
                        <th colspan="{% if week_url == both %}5{% else %}4{% endif %}">
                            <a href="{% url django_schedule.views.schedule_common faculty year group week_url day|first|get_weekday_id %}">{{ day|first|get_weekday }}</a>
                        </th>
                    </tr>
                    {% for lesson in day %}
                        <tr>
                            <td>
                                <div class="short-lesson">
                                    <b>#{{ lesson.number }}
                                    {% if week_url == 'both' %}
                                        {% if lesson.week_type.name == 'upper' %}
                                            <b>(верх.)</b>
                                        {% else %}
                                            <b>(ниж.)</b>
                                        {% endif %}
                                    {% endif %}
                                    {{ lesson.subject }} ({{ lesson.type_ }})</b>
                                    <br/>
                                    Каб. <b>{{ lesson.auditory }}</b>,
                                    {{ lesson.tutor }}
                                    {% if lesson.subdivision %}П/г: {{ lesson.subdivision }}{% endif %}
                                </div>
                            </td>
                        </tr>
                    {% endfor %}

                {% endif %}
            {% endfor %}
        {% else %}
            <h4>Нет занятий</h4>
        {% endif %}

    </table>

{% endblock %}

{% block extra %}
    <h5>Статистика</h5>
    <table>
        <tr><td>Пар:</td><td>{{ stats.lessons }}</td></tr>
        {% if not day %}
            <tr><td>Учебных дней:</td><td>{{ stats.days }}</td></tr>
            <tr><td>В среднем в день: </td><td>{{ stats.avg_lessons }}</td></tr>
            <tr><td>Максимум в день:</td><td>{{ stats.max_lessons }}</td></tr>
            <tr><td>Минимум в день:</td><td>{{ stats.min_lessons }}</td></tr>
        {% endif %}
    </table>
{% endblock %}