{% extends "desktop/days_common.html" %}

{% block topbar %}
    <!-- TODO FIX THIS HOLY CRAP SOME WAY -->
    <li {% if week_url == "lower" and not today %}class="active"{% endif %}><a href="{% urle django_schedule.views.generic_schedule_common faculty=dataset_id.faculty year=dataset_id.year group=dataset_id.group week_txt='lower' %}">Нижняя</a></li>
    <li {% if week_url == "upper" and not today %}class="active"{% endif %}><a href="{% urle django_schedule.views.generic_schedule_common faculty=dataset_id.faculty year=dataset_id.year group=dataset_id.group week_txt='upper' %}">Верхняя</a></li>
    <li {% if week_url == "both" and not today %}class="active"{% endif %}><a href="{% urle django_schedule.views.generic_schedule_common  faculty=dataset_id.faculty year=dataset_id.year group=dataset_id.group week_txt='both' %}">Все вместе</a></li>
    <li {% if week_url == "current" and not today %}class="active"{% endif %}><a href="{% urle django_schedule.views.generic_schedule_common faculty=dataset_id.faculty year=dataset_id.year group=dataset_id.group week_txt='current' %}">Текущая ({{ current_week_ru }})</a></li>
    <li {% if today %}class="active"{% endif %}><a href="{% urle django_schedule.views.generic_today faculty=dataset_id.faculty year=dataset_id.year group=dataset_id.group %}">Сегодня</a></li>
{% endblock %}

{% block sidebar %}

    <h5>Статистика</h5>
    <table>
        <tr><td>Пар:</td><td>{{ stats.lessons }}</td></tr>
        {% if not day %}
            <tr><td>Учебных дней:</td><td>{{ stats.days }}</td></tr>
            <tr><td>В среднем в день: </td><td>{{ stats.avg_lessons }}</td></tr>
            <tr><td>Максимум в день:</td><td>{{ stats.max_lessons }}</td></tr>
            <tr><td>Минимум в день:</td><td>{{ stats.min_lessons }}</td></tr>
        {% endif %}
    </table>


    <h5>Импорт</h5>
    <a href="ical">Outlook, GCal, iCal, iPhone</a>

{% endblock %}


{% block content %}

    {% block content_title %}
        <h4>Расписание для {{ dataset_id.faculty }}, {{ dataset_id.year }} курс, группа {{ dataset_id.group }}.</h4>
    {% endblock %}

    <table>
        {% for day in days %}

            {% if day %}

                <tr>
                    <th colspan="{% if week_url == 'both' %}7{% else %}6{% endif %}">
                        <a href="{% urle django_schedule.views.generic_schedule_common faculty=dataset_id.faculty year=dataset_id.year group=dataset_id.group week_txt=week_url day_txt=day|first|get_weekday_id %}">{{ day|first|get_weekday }}</a>
                    </th>
                </tr>
                {% for lesson in day %}
                    <tr {% if week_url == "both" and lesson.week_type != "upper" %}style="background-color: #F5F5F5"{% endif %}>
                        <td>{{ lesson.number }}</td>
                        <td>{{ lesson.subject }}</td>
                        <td>{{ lesson.tutor }}</td>

                        <td><nobr><a href="{% urle django_schedule.views.generic_schedule_common building=lesson.classroom_id.building number=lesson.classroom_id.number week_txt="both" %}">{{ lesson.auditory }}</a></nobr></td>

                        <td>{{ lesson.type_ }}</td>
                        <td>{% if lesson.subdivision.strip %}<nobr>П/г:&nbsp;{{ lesson.subdivision }}</nobr>{% endif %}</td>
                        {% if week_url == 'both' %}
                            {% if lesson.week_type == 'upper' %}
                                <td>верхняя</td>
                            {% else %}
                                <td>нижняя</td>
                            {% endif %}
                        {% endif %}
                    </tr>
                {% endfor %}

            {% endif %}

        {% endfor %}
    </table>
{% endblock %}