{% extends "desktop/base.html" %}

{% block content %}
<h3>Добро пожаловать на неофициальный сайт расписания!</h3>
Как некоторые могли заметить, <a href="http://studydep.miigaik.ru">официальный сайт расписания</a>
является прекрасным примером веб-разработки середины 90-х: не отличается удобством, наглядностью,
не имеет мобильной версии. Чтобы исправить ситуацию, разработан этот сайт, являющийся не более чем
интерфейсом к текущей официальной версии. Все данные, которые вы видите, берутся непосредственно
с официального сайта.
    
<h3>Плюсы новой версии</h3>
<ul>
    <li>улучшенное поведение: можно смотреть отдельно верхнюю и нижнюю неделю</li>
    <li>можно посмотреть расписание на сегодня</li>
    <li>можно сохранить ссылку на любую страницу -- расписание перед глазами в один клик</li>
    <li>не дает забыть, что на дворе 21-й век</li>
</ul>

{% endblock %}

{% block sidebar %}
    <form method="GET" action="schedule/">
        <table>
            {{ form.as_table }}
            <tr><td></td><td><button class="btn" type="submit">Показать</button></td></tr>
        </table>

    </form>
{% endblock %}