{% extends "basic/base.html" %}

{% block content %}
    <h4>Расписание для {{ faculty }}, {{ year }}, {{ group }}. Неделя: {{ week_ru }}</h4>

    <table>
        {% for day in days %}

            {% if day %}

                <tr>
                    <th colspan="{% if week_url == both %}5{% else %}4{% endif %}">
                        <a href="{% url django_schedule.views.schedule_common faculty year group week_url day|first|get_weekday_id %}">{{ day|first|get_weekday }}</a>
                    </th>
                </tr>
                {% for lesson in day %}
                    <tr>
                        <td>{{ lesson.number }}</td>
                        <td>{{ lesson.subject }}</td>
                        <td>{{ lesson.tutor }}</td>
                        <td>{{ lesson.auditory }}</td>
                        {% if week_url == 'both' %}
                            <td>{{ lesson.week_type.name }}</td>
                        {% endif %}
                    </tr>
                {% endfor %}

            {% endif %}

        {% endfor %}
    </table>

{% endblock %}