<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title>Ошибка</title>
</head>
<body>

<h1>404</h1>

<h3>Запрошенная страница не существует</h3>

<p>Либо вы что-то не так ввели, либо я что-то не так написал. В любом случае, вы можете <a href="/">вернуться в начало</a>.</p>

<p>
Не волнуйтесь, за вами уже выехали. Если хотите поторопить пативэн, свяжитесь со мной по адресу
<a href="mailto:chemikadze@gmail.com">chemikadze@gmail.com</a>.
</p>

</body>
</html>