<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title>Быстрый доступ к вашему расписанию!</title>
</head>
<body>
<form action="/link" method="get">
    <h3>Сохранялка ссылок на расписание МИИГАиК</h3>
    <table border="0">
        <tbody>
        <tr>
            <td>Факультет</td>
            <td><select type="text" name="fak" maxlength="20">
                <option value=""></option>
                <option value="ГФ">факультет геодезический</option>
                <option value="ФКГ">факультет картографии и геонформатики</option>
                <option value="ГУФ">факультет гуманитарный</option>
                <option value="ФОИСТ">факультет оптико-информационных систем и технологий</option>
                <option value="ФЭУТ">факультет экономики и управления территориями</option>
                <option value="ФПКиФ">факультет прикладной космонавтики и фотограмметрии</option>
            </select></td>
        </tr>
        <tr>
            <td>курс</td>
            <td><select type="text" name="kurs">
                <option value=""></option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
            </select></td>
        </tr>
        <tr>
            <td>группа</td>
            <td><select type="text" name="grup">
                <option value=""></option>
                <option value="1">1</option>
                <option value="10маг">10маг</option>
                <option value="1б">1б</option>
                <option value="1и">1и</option>
                <option value="2">2</option>
                <option value="2б">2б</option>
                <option value="2и">2и</option>
                <option value="3">3</option>
                <option value="3б">3б</option>
                <option value="3и">3и</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="7б">7б</option>
                <option value="8">8</option>
                <option value="8б">8б</option>

            </select></td>
        </tr>
        <tr>
            <td colspan="2" align="center"><input type="submit" name="ok" value="Искать"></td>
        </tr>
        </tbody>
    </table>
    Введите нужные параметры, нажмите "искать", и можете использовать полученную ссылку для прямого доступа
    к расписанию!
</form>
</body>
</html>